
@using EasyJob.Models
@model JobSeekerSearchModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        #login-div {
            position: absolute;
            left: 40%;
            top: 40%;
            border: 1px solid #ccc;
            padding: 10px 10px;
        }
    </style>

</head>
<body>
    <div id="login-div">
        @using (Html.BeginForm("Recherche", "JobSeeker", FormMethod.Post))
        {
            @Session["offreId"]
            <table>
                <tr>

                    <td>
                        @Html.LabelFor(model => model.Experience)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Experience)
                    </td>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Ville)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Ville.Nom)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Diploma)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Diploma)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Age)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Age)
                    </td>
                </tr>
            </table>

            <input type="submit" name="name" value="Rechercher" />
        }
    </div>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
</html>
