@model IEnumerable<EasyJob.Models.JobSeeker>

@{
    ViewBag.Title = "Result";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    if ((bool)Session["company"] == false)
    {
        Response.Redirect("~/Home/IndexJS");
    }
}

<div class="row">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diploma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th></th>
        </tr>
   
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diploma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.ActionLink("Like", "Like", new { id=item.Id }) |
                @Html.ActionLink("Dislike", "Dislike", new { id=item.Id }) |
              
            </td>
        </tr>
    }
    
    </table>
</div>

<div class="row">



    <div id="containerSwipe">
        @foreach (var item in Model)
        {
            <div class="buddys" id="@(String.Format("buddy{0}",item.Id))" style="display: block;">
                <div class="avatar" style="display: block;">
                    <ul>
                        <li>@Html.DisplayFor(modelItem => item.Email)</li>
                        <li>@Html.DisplayFor(modelItem => item.Username)</li>
                        <li>@Html.DisplayFor(modelItem => item.LastName) /li>
                        <li>@Html.DisplayFor(modelItem => item.FirstName) </li>
                        <li>@Html.DisplayFor(modelItem => item.BirthDay) </li>
                        <li>@Html.DisplayFor(modelItem => item.Diploma) </li>
                        <li>@Html.DisplayFor(modelItem => item.Experience) </li>
                        <li>@Html.DisplayFor(modelItem => item.Gender) </li>
                    </ul>
                </div>

                <div class="buttons row">
                    <div class="col-sm-6"><button id="@item.Id" class="dissBtn" onclick="location.href='@Url.Action("Dislike", "JobSeeker" , new {id = item.Id})'">'>Dislike</button></div>
                    <div class="col-sm-6"><button id="@item.Id" class="likeBtn"onclick="location.href='@Url.Action("Like", "JobSeeker",new {id = item.Id})'">'">Like</button></div>
                </div>
            </div>
        }
    </div>
    
    <br />
    <br />
    <br />
    <br />
