@model IEnumerable<EasyJob.Models.JobSeeker>

@{
    ViewBag.Title = "Result";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    if ((bool)Session["company"] == false)
    {
        Response.Redirect("~/Home/IndexJS");
    }
}




    <div id="containerSwipe">
        @foreach (var item in Model)
        {
            <div class="buddys" id="@(String.Format("buddy{0}",item.Id))" style="display: block;">
                <div class="avatar" style="display: block;">
                    <ul>
                        <li>@Html.DisplayFor(modelItem => item.Email)</li>
                        <li>@Html.DisplayFor(modelItem => item.Username)</li>
                        <li>@Html.DisplayFor(modelItem => item.LastName) /li>
                        <li>@Html.DisplayFor(modelItem => item.FirstName) </li>
                        <li>@Html.DisplayFor(modelItem => item.BirthDay) </li>
                        <li>@Html.DisplayFor(modelItem => item.Diploma) </li>
                        <li>@Html.DisplayFor(modelItem => item.Experience) </li>
                        <li>@Html.DisplayFor(modelItem => item.Gender) </li>
                    </ul>
                </div>

                <div class="buttons row">
                    <div class="col-sm-6"><button id="@item.Id" class="dissBtn dissBtnJS">'>Dislike</button></div>
                    <div class="col-sm-6"><button id="@item.Id" class="likeBtn likeBtnJS">'">Like</button></div>
                </div>
            </div>
        }
    </div>
    
    <br />
    <br />
    <br />
    <br />
