@model IEnumerable<EasyJob.Models.JobOffer>

@{
    ViewBag.Title = "Result";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    if ((bool)Session["company"] == true)
    {
        Response.Redirect("~/Home/IndexC");
    }
}
<div class="row">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diploma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FieldOfActivity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ville)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diploma)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Experience)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FieldOfActivity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ville)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.ActionLink("Like", "Like", new { id = item.Id }) |
                    @Html.ActionLink("Dislike", "Dislike", new { id = item.Id }) |

                </td>
            </tr>
        }

    </table>
</div>

<div class="row">
    <div id="containerSwipe">
        @foreach (var item in Model)
        {
            <div class="buddys" id="@(String.Format("buddy{0}",item.Id))" style="display: block;">
                <div class="avatar" style="display: block;">
                    <ul>
                        <li>@Html.DisplayFor(modelItem => item.Company)</li>
                        <li>@Html.DisplayFor(modelItem => item.Title)</li>
                        <li>@Html.DisplayFor(modelItem => item.Description) /li>
                        <li>@Html.DisplayFor(modelItem => item.Diploma) </li>
                        <li>@Html.DisplayFor(modelItem => item.Experience) </li>
                        <li>@Html.DisplayFor(modelItem => item.Salary) </li>
                        <li>@Html.DisplayFor(modelItem => item.Profil) </li>
                        <li>@Html.DisplayFor(modelItem => item.FieldOfActivity) </li>
                        <li>@Html.DisplayFor(modelItem => item.Ville) </li>
                        <li>@Html.DisplayFor(modelItem => item.Type) </li>
                    </ul>
                </div>

                <div class="buttons row">
                    <div class="col-sm-6"><button id="@item.Id" class="dissBtn dissBtnJO">Dislike</button></div>
                    <div class="col-sm-6"><button id="@item.Id" class="likeBtn likeBtnJO">Like</button></div>
                </div>
            </div>
        }
    </div>
    <br />
    <br />
    <br />
    <br />
