@model IEnumerable<EasyJob.Models.JobOffer>

@{
    ViewBag.Title = "Result";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    if ((bool)Session["company"] == true)
    {
        Response.Redirect("~/Home/IndexC");
    }
}



    <div id="containerSwipe">
        @foreach (var item in Model)
        {
            <div class="buddys" id="@(String.Format("buddy{0}",item.Id))" style="display: block;">
                <div class="avatar" style="display: block;">
                    <ul>
                        <li>@Html.DisplayFor(modelItem => item.Company)</li>
                        <li>@Html.DisplayFor(modelItem => item.Title)</li>
                        <li>@Html.DisplayFor(modelItem => item.Description) /li>
                        <li>@Html.DisplayFor(modelItem => item.Diploma) </li>
                        <li>@Html.DisplayFor(modelItem => item.Experience) </li>
                        <li>@Html.DisplayFor(modelItem => item.Salary) </li>
                        <li>@Html.DisplayFor(modelItem => item.Profil) </li>
                        <li>@Html.DisplayFor(modelItem => item.FieldOfActivity) </li>
                        <li>@Html.DisplayFor(modelItem => item.Ville) </li>
                        <li>@Html.DisplayFor(modelItem => item.Type) </li>
                    </ul>
                </div>

                <div class="buttons row">
                    <div class="col-sm-6"><button id="@item.Id" class="dissBtn dissBtnJO">Dislike</button></div>
                    <div class="col-sm-6"><button id="@item.Id" class="likeBtn likeBtnJO">Like</button></div>
                </div>
            </div>
        }
    </div>
    <br />
    <br />
    <br />
    <br />
