@model EasyJob.Models.User
@{
    Layout = null;
}



<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EasyJob</title>
</head>
<body class="text-center">
    @using (Html.BeginForm("Authorize", "Login", FormMethod.Post, htmlAttributes: new { @class = "form-signin" }))
    {
        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Login to EasyJob</h1>
        <label for="inputEmail" class="sr-only">Email</label>
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "email", @id = "inputEmail", @placeholder = "Email address" } })
        @Html.ValidationMessageFor(model => model.Email)
        <label for="inputPassword" class="sr-only">Password</label>
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @type = "password", @id = "inputPassword", @class = "form-control", @placeholder = "Password" } })
        @Html.ValidationMessageFor(model => model.Password)
        <label classe="field-validation-error"> @Html.DisplayFor(model => model.LoginErrorMessage) </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login" name="name">Login</button>
        <button class="btn btn-lg btn-secondary btn-block" type="Clear" value="Login" name="name">Clear</button>

    }
</body>
</html>

@Styles.Render("~/Content/bootstrap.min.css")
@Styles.Render("~/Content/signin.css")
@Scripts.Render("~/Scripts/jquery-3.3.1.js")
@Scripts.Render("~/Scripts/jquery.validate.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")